<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Création d'une declaration TVA" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="card">
      <p-toast></p-toast>
      <p-toast position="top-left" key="tl"></p-toast>
      <div class="card-body ">
        <div style="padding: 5px; font-size: large "><label>Type declaration TVA:</label></div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="TDTV1"
                 pInputText [(ngModel)]="selected.typeDeclarationTva.ref">
          <label class="form-check-label" for="flexRadioDefault1">
            Trimestrielle
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="TDTV2"
                 pInputText [(ngModel)]="selected.typeDeclarationTva.ref">
          <label class="form-check-label" for="flexRadioDefault2">
            Mensuelle
          </label>
        </div>
        <div>
          <button type="button" class="btn btn-success" (click)="test()">OK</button>
        </div>
        <div>
          <div style="padding: 5px" *ngIf="a">
            <input class="form-control" type="number" placeholder="Annee" aria-label="default input example"
                   [(ngModel)]="selected.annee">
          </div>
          <div style="padding: 5px" *ngIf="b">
            <input class="form-control" type="number" placeholder="Trim" aria-label="default input example"
                   [(ngModel)]="selected.trim">
          </div>
          <div style="padding: 5px" *ngIf="c">
            <input class="form-control" type="number" placeholder="Mois" aria-label="default input example"
                   [(ngModel)]="selected.mois">
          </div>
        </div>
        <div style="padding: 5px" class="d-grid gap-2 col-6 mx-auto" *ngIf="a">
          <button type="button" class="btn btn-success" (click)="afficheObject()">Calculer TVA</button>
        </div>
        <div style="padding: 5px" class="d-flex justify-content-center" *ngIf="a">
          <div class="p-grid">
            <div class="p-col">
              <div style="padding: 5px"><label>TVA Collectée</label></div>
              <div class="p-inputgroup">
                <input type="number" pInputText disabled [value]="object2.tvacollecter">
                <span class="p-inputgroup-addon">MAD</span>
              </div>
            </div>
            <div class="p-col">
              <div style="padding: 5px"><label>TVA Déductible</label></div>
              <div class="p-inputgroup">
                <input type="number" pInputText disabled [value]="object2.tvadeductible">
                <span class="p-inputgroup-addon">MAD</span>
              </div>
            </div>
            <div class="p-col">
              <div style="padding: 5px"><label>Différence TVA</label></div>
              <div class="p-inputgroup">
                <input type="number" pInputText disabled [value]="object2.differencetva">
                <span class="p-inputgroup-addon">MAD</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2" *ngIf="a">
            <button class="btn btn-outline-success" type="button" (click)="save();hideCreateDialog() " >Valider</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
  </ng-template>
</p-dialog>
