<h1 class="m-4 text-success">Create DeclarationIR</h1>
<div class="card">
  <div class="card-footer">Create Declaration IR</div>

  <div class="card-body">

    <div class="form-group">
      <label for="annee">Annee</label>
      <input id="annee" type="number" [(ngModel)]="declarationIR.annee " class="form-control">
    </div>
    <div class="form-group">
      <label for="mois">Mois</label>
      <input id="mois" type="number" [(ngModel)]="declarationIR.mois " class="form-control">
    </div>
    <div class="card-footer">
      <button class="btn btn-success btn-lg" (click)="save()">Add</button>
    </div>
  </div>
</div>





