<div class="card">
  <p-toast></p-toast>
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
              (click)="openCreate()">
      </button>
    </ng-template>
  </p-toolbar>
  <div class="card-header">Liste des declarations IS</div>
  <div class="card-body">
    <table class="table table-striped table-hover" *ngIf="declarationsIS.length != 0">
      <thead>
      <th>Id</th>
      <th>Annee</th>
      <th>Chiffre d'affaire</th>
      <th>Charge</th>
      <th>Benefice</th>
      <th>MontantIS</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let d of declarationsIS">
        <td>{{d.id}}</td>
        <td>{{d.annee}}</td>
        <td>{{d.chiffAffaire}}</td>
        <td>{{d.charge}}</td>
        <td>{{d.benifice}}</td>
        <td>{{d.montantIS}}</td>
        <td><span (click)="deleteDeclaration(d)"><i class="fa fa-trash btn btn-danger "></i></span></td>
        <td><span (click)="openView(d)"><i class="fa fa-eye btn btn-success"></i></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-declaration-is-create></app-declaration-is-create>
  <app-declaration-is-view></app-declaration-is-view>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>

